*.synctex.gz
*.pdf
*.dvi
*.out
*.log
*.toc
*.aux
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex(busy)
*.synctex(busy+)
*.synctex(busy-*)
*.synctex.gz(busy)
*.synctex.gz(busy+)
*.synctex.gz(busy-*)
*.bcf
*.run.xml
*.bbl
*.blg
*.brf
*.nlo
*.nls
*.ilg
*.ind
*.idx
*.loa
*.out
*.glo
*.acn
*.acr
*.alg
*.glg
*.ist
*.fls
*.fdb_latexmk
